body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8rem;
  margin: 0;
  overflow: hidden;
  width: 25rem;
}


.kss-extension__header {
 	  background: #707279;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kss-extension__body{
    padding: 1em 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tgl{
  display: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  left: 5px;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn:after,.tgl + .tgl-btn:before{
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after{
  left: 0;
}

.tgl + .tgl-btn:before{
  display: none;
}

.tgl-ios + .tgl-btn{
    background: #ececec;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

.tgl-ios + .tgl-btn:after{
  border-radius: 2em;
  background: #fbfbfb;
  transition:
  left .3s cubic-bezier(
    0.175, 0.885, 0.320, 1.275
  ),
  padding .3s ease, margin .3s ease;
  box-shadow:
  0 0 0 1px rgba(0,0,0,.1),
  0 4px 0 rgba(0,0,0,.08);
}

.tgl-ios + .tgl-btn:hover:after{
  will-change: padding;
}

.tgl-ios + .tgl-btn:active{
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after{
  padding-right: .8em;
}

.tgl-ios:checked + .tgl-btn{
  background: #fdec32;
}

.tgl-ios:checked + .tgl-btn:active{
  box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after{
  margin-left: -.8em;
}

.tgl:checked + .tgl-btn:after{
  left: 50%;
}

.kss-extension__btn{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #f9bc23;
  border-color: #f9bc23;
  cursor: pointer;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: #212529;
  margin: 0 4px;
  font-size: 14px;
  padding: 8px 10px;
}
.kss-extension__btn:hover{
  background-color: #ca9206;
  color: #212529;
}